body
{
  background-color:black;
}

.hide
{
  background-color:gray;
  border-radius:5px;
  text-align:center;
  position:absolute;
  margin: 0 auto;
  
}

.text-scotland
{
  top:4%;
  left:43%;
}

.text-newzealand
{
  top:74%;
  left:67.8%;
}

.text-antarctica
{
  top:99%;
  left:73.5%;
}

.text-madagascar
{
  top:63.3%;
  left:33%;
}

.text-france
{
  top:7%;
  left:44.1%;
}

.text-washington
{
  top:11.5%;
  left:22.4%;
}

.text-brazil
{
  top:66%;
  left:10%;
}