#headerdiv {
  padding: 20px 0px 7px 20px;
  height: 120px;
}

#bodydiv {
  color: white;
  float: left;
  width: 75%;
}

#body1div {
  padding: 1px 35px 0px 35px;
  background-color: #1A1A1A;
  height: 1000px;
}

h2 {
  letter-spacing: 5px;
  text-align: center;
}

p {
  color: white;
  font-family: Candara;
  line-height: 1.4;
}


h4 {
  color: #B68354;
  font-family: Candara;
  /*text-decoration:underline;*/
  letter-spacing: 1px;
  text-align: center;
}

#artist {
  margin: 25px 0px 0px;

}

#asidediv {
  float: right;
  background-color: black;
  width: 25%;
  height: 1130px;
}

ol {
  list-style-type: upper-roman;

}

#bodyfooterdiv {
  background-color: #2F2F2F;
  height: 125px;
  font-size: 10pt;
  font-family: Candara;
  padding-top: 1px;
  border-top-style: solid;
  text-align: center;
}

a:link {
  color: #6CCEFD;
  /* font-style:italic; */
}

/* visited link */
a:visited {
  color: #d79afc;
  /* font-style:italic; */
}

/* mouse over link */
a:hover {
  color: #FC82B5;
  /* font-style:italic; */
}

/* selected link */
a:active {
  color: #9af4fc;
  font-style: italic;
}

.links {
  text-align: center;
  /* border:1px solid; (in case I need it later) */
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  text-align: center;
  border: 1px solid;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
}

/*
th {
font-weight:bold;
}
*/

#famous {
  width: 880px;
  height: 20px;
  word-wrap: break-word;
}

img {
  border: 5px solid #3a484f;

}
